.blogform{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--color-primary);
    padding: 2rem;
    border: 0;
}

.blogform input,
.blogform textarea,
.blogform .MuiInputBase-colorPrimary{
    width: calc(100% - 2rem);
    border-radius: 0;
    border: 1px solid;
    margin-top: 2rem;
    margin-bottom: 2rem;

    transition: all 150ms ease-in-out;
}


.blogform .error-field{
    border-color: red;
}

.blogform .error-message{
    color: red;
}

.blogform .MuiInputBase-colorPrimary{
    background-color: #fff;
    border: 1px solid;
    border-radius: 0;
    width: 100%;
}