.searchbar{
    margin: 2rem 1rem;
}

.searchbar__container .css-aloroh-MuiInputBase-root-MuiOutlinedInput-root{
    line-height: 1rem;
    border-radius: 50px;
}

@media screen and (min-width: 900px) {
    .searchbar{
        margin: 3rem 2rem;
    }
}