.blogform{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 0;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

å

.blogform .error-field{
    border-color: red;
}

.blogform .error-message{
    color: red;
}
